# Created by .ignore support plugin (hsz.mobi)
.gitignore
cmake-build-debug/CMakeFiles/3.18.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.18.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/indiv.dir/CXX.includecache
cmake-build-debug/CMakeFiles/indiv.dir/depend.internal
cmake-build-debug/CMakeFiles/indiv.dir/main.cpp.o
cmake-build-debug/CMakeFiles/indiv.dir/src/
doxygen/.github/
doxygen/.gitignore
doxygen/.travis.yml
doxygen/CMakeLists.txt
doxygen/Doxyfile
doxygen/INSTALL
doxygen/LANGUAGE.HOWTO
doxygen/LICENSE
doxygen/README.md
doxygen/VERSION
doxygen/addon/
doxygen/appveyor.yml
doxygen/cmake/
doxygen/doc/
doxygen/examples/
doxygen/jquery/
doxygen/liblodepng/
doxygen/libmd5/
doxygen/libmscgen/
doxygen/libversion/
doxygen/qtools/
doxygen/src/
doxygen/templates/
doxygen/testing/
doxygen/vhdlparser/
doxygen/winbuild/
!/doxygen/
